body {
    margin: 0;
    background-color: #202020;
}
.pageHeader {
    width: 100%;
    background-color: #333;
}
ul {
    margin-top: 2%;
    padding: 1.5%;
}
li {
    display: inline;
    list-style-type: none;
    color: #f1f1f1;
    font-weight: bold;
    font-size: 200%;
}
.WebsiteName {
    padding: 1%;
}
.Terug {
    font-size: 150%;
    margin-left: 83%;
    cursor: pointer;
}
.buttons {
    width: 50%;
    margin: auto;
    margin-top: 17%;
}
button {
    color: #f1f1f1;
    background-color: #333;
    font-size: 150%;
    padding: 1%;
    margin-left: 12.5%;
    cursor: pointer;
}
footer {
    margin-top: 16.1%;
    padding: 1.5%;
    font-size: 120%;
    text-align: center;
    color: #f1f1f1;
    background-color: #333;
}