body {
    margin: 0;
    background-color: #202020;
}
.pageHeader {
    width: 100%;
    background-color: #333;
}
ul {
    margin-top: 2%;
    padding: 1.5%;
}
li {
    display: inline;
    list-style-type: none;
    color: #f1f1f1;
    font-weight: bold;
    font-size: 200%;
}
.WebsiteName {
    padding: 1%;
}
.Terug {
    padding-left: 85%;
    font-weight: lighter;
    font-size: 150%;
    cursor: pointer;
}
.Registreren {
    width: 20%;
    margin: auto;
    margin-top: 9%;
    background-color: #333;
}
.RegistrerenWoord {
    font-size: 200%;
    font-weight: bold;
    color: #f1f1f1;
    text-align: center;
    padding-top: 9%;
}
.Inputvelden {
    margin-left: 27%;
    color: #f1f1f1;
}
.Registrerenbutton {
    margin-left: 36.5%;
    margin-bottom: 8%;
    font-size: 120%;
    color: #f1f1f1;
    border: #4b4a4a;
    background-color: #4b4a4a;
    cursor: pointer;
}
footer {
    margin-top: 9.7%;
    padding: 1.5%;
    font-size: 120%;
    text-align: center;
    color: #f1f1f1;
    background-color: #333;
}
@media only screen and (max-width: 600px) {
    .pageHeader {
        margin-top: 5%;
    }
    .Terug {
        padding-left: 80%;
    }
    .Registreren {
        width: 70%;
        margin-top: 30%;
        margin-bottom: 35.6%;
    }
    .Inputvelden {
        margin-left: 20%;
    }
    .Registrerenbutton {
        margin-left: 33%;
        font-size: 110%;
    }
    .footer {
        margin-top: 20%;
    }
    .Copyright {
        margin-top: 1%;
    }
}